#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Pokéball Icon */
#loader img {
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

/* Rotation Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loader.hidden {
    display: none;
}
