#singleCard {
    /* background: red; */

    
    .viewSingleCard {
        border: 2px solid red;
        width: 50%;
        height: 40dvh;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: white;
        padding: 5rem 0;

        img {
        height: 10rem;
        width: 10rem;
        object-position: bottom;
        position: absolute;
        top: -18%;
        left: 50%;
        transform: translate(-50%, 0);
        filter: drop-shadow(4px 4px 8px black);
        }

        h2 {
            font-size: calc(16px + 1dvw);
        }

        p {
            font-size: calc(16px + 0.7dvw);
        }
    }
    .headLine {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .typesInfo {
        display: flex;
        justify-content: center;
        padding: 5px;
        width: 100%;
    }

    .type {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        color: black;
        font-size: calc(16px + 0.5dvw);
        width: 50%;
        height: 5dvh;
    }
}