@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.cdnfonts.com/css/pokemon-hollow");

/* #region standardCSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: flex;
    justify-content: center;
}

body {
    background: yellow;
    font-family: "Pokemon Hollow", sans-serif;
}
/* #endregion */

/* #region header */
header {
    width: 100%;
    height: 10dvh;
    background: #e0c068;
    display: flex;
    justify-content: center;

    .content {
        height: 10dvh;
        flex-direction: row;
        align-items: center;
        padding: 0;

        h1 {
            width: 20%;

            @media (max-width: 500px) {
                display: none;
            }
        }

        img {
            width: 60px;
            height: 60px;
        }

        .headLogo {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5em;
            padding-left: 2rem;

            @media (max-width: 850px) {
                justify-content: start;
                padding-left: 1rem;
            }
        }
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 2.9em;
        border-radius: 10px;
        font-size: calc(14px + 0.1dvw);

        @media (max-width: 550px) {
            width: 150px;
            margin-right: 20px;
            
        }
    }

    .arrowRight {
        width: 2.7em;
        height: 2.7em;

        #arrowImg {
            width: 100%;
            height: 2.7em;
            background: white;
            border: 2px solid black;
            border-radius: 0 8px 8px 0;
        }
    }

    .searchInput {
        width: 100%;
        height: 3.1em;
        text-align: left;
        padding-left: 5px;
        border-radius: 8px 0 0 8px;
    }
}
/* #endregion */

.d_none {
    display: none;
}

.d-flex {
    display: flex;
}

.no-scroll {
    overflow: hidden;
}

/* #region typeColors */
.type {
    display: flex;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    text-transform: capitalize;
}

.type.fire {
    background: #f08030;
}
.type.water {
    background: #6890f0;
}
.type.grass {
    background: #78c850;
}
.type.electric {
    background: #f8d030;
    color: black;
}
.type.normal {
    background: #a8a878;
}
.type.flying {
    background: #a890f0;
}
.type.poison {
    background: #a040a0;
}
.type.ground {
    background: #e0c068;
}
.type.bug {
    background: #a8b820;
}
.type.rock {
    background: #b8a038;
}
.type.ghost {
    background: #705898;
}
.type.steel {
    background: #b8b8d0;
}
.type.psychic {
    background: #f85888;
}
.type.ice {
    background: #98d8d8;
}
.type.dragon {
    background: #7038f8;
}
.type.dark {
    background: #705848;
}
.type.fairy {
    background: #f0b6bc;
}
.type.fighting {
    background: #808080;
}
/* #endregion */

/* #region footer */
footer {
    width: 100%;
    height: 10dvh;
    background: #e0c068;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -200px;

    .content {
        height: 10dvh;
        padding: 0;
    }
}
/* #endregion */

.loadBtn {
    display: flex;
    justify-content: center;
    height: 4rem;
    padding: 10px 0;

    button {
        width: 20%;
        height: 3em;
        font-family: "Pokemon Solid", sans-serif;
        border-radius: 0.5em;
        border: none;
        cursor: pointer;
    }

    button:hover {
        box-shadow: 5px 5px 10px black;
    }
}
